@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(117, 156, 189);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px;
}

.sidebar nav li a {
    text-decoration: none;
    color: white;
}

.main {
    /* background-color: yellow; */
    width: 100vw;
}

.main  h1{
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: pink; */
    height: 70vh;
    width: 70vw;
    margin: 144px auto;
    font-family: 'Source Code Pro', monospace;
    /* display: flex; */
    text-align: center;
}

.devinfo {
    margin: 10vh auto;

}

.hello {
    font-size: 65px;
}

.name {
    font-size: 55px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.about {
    font-size: 40px;
}

.buttons {
    margin-top: 3vh;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    color: white;
    background-color: cadetblue;
    cursor: pointer;
}

.buttons:hover {
    color: cadetblue;
    background-color: white;
}

.educontainer{
    margin:0 80px ;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.educontainer h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
  
.educontainer p {
    font-size: 18px;
    color: #555;
}
.projectcontainer{
    margin:0 80px ;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.projectcontainer h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
  
.projectcontainer p,a {
    font-size: 18px;
    color: #555;
}
.projectcontainer a {
    text-decoration: none;
    color:chartreuse;
}

.links{
    margin:0 220px ;
    margin-bottom: 30px;
}

.sitelogo img{
    width: 12vw;
    height: 4vh;
    margin: 5vh 30vw;
}

.contactform {
    font-family: 'Roboto', sans-serif;
    padding: 0 34px;
    margin: 0px 90px;
}

.contactform form div {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    padding: 12px 12px;
    text-align: left;
}

#emailHelp {
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}
.sidebargo{
    transform: translate(-430px, 0px);
    position: absolute;
}

.menu{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
    margin-left: 210px;
}

@media (max-width: 1450px) {
  *{
    background-color: red;
  }
  
}
